/* 最上方的header */
.flex-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.custom-header {
    margin-left: 20px;
    border: 1px blue solid;
    height:150px;
}

.main-container {
    display: flex;
    justify-content:space-around;
    align-items: stretch;
    height: 600px;
}

