/* 最上方的header */
.flex-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:white;

  }

.custom-header {
    background-color: #1c5da5;
    height:70px;
    color: white;
    padding-left: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.custom-header > h2 {
    width: 78%
}

#alert-container {
    display: flex;
    align-items: center;
    width: 20%;
    height: 50%;
    font-size: 18px;
    text-align: center;
    line-height: 50%;
    display: none;
}
.main-container {
    display: flex;
    justify-content:space-around;
    align-items: stretch;
    height: 600px;
}

.modal-body-item{
    display:flex;
    margin-left: 10%;
    width:80%;
    justify-content:flex-start;
    align-items:center;
    margin-bottom: 10px;
}

footer {
  background-color: #1c5da5;
  color: white;
  font-size: 16px;
  text-align: center;
  position: fixed;
  left: 0%;
  bottom: 0%;
  right: 0;
  height: 35px;
  padding: 5px;
}
