/* 
* 页面中部
* 患者可编辑面板模块 
*/
.pat-main-container{
    background-color:white; 
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}
.pat-main-item{
    width: 100%;
}
.item-title{
    font-size:20px;
}
.update-pat-btn{
   align-self: center;
   margin-left: 70%;
   width: 70px;
}
.form-horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-group{
    display: flex;
    justify-content: flex-start;
    width:40%;
}
.control-label{
    display: flex;
    justify-content: flex-start;
    width:30%;
}

.form-input{
    width: 70%;
}
.pat-main-table{
    margin-top: 10px;
    height: 165px;
    display: flex;
    margin-bottom:5px;
    justify-content: space-around;
}
.pat-main-table-heading {
    height: 40px;
    display: flex;
    align-items: center;

}

.btn-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:140px;
    width:10%;
    margin-left: -5%;
    margin-top: 10px;
}

/* 危险因素编辑的select panel */
.risk-group {
    width: 70%;
}

.risk-group-select {
    width: 40%
}