/* 
*  页面左侧
*  患者列表部分
*/
.pat-list-container {
    background-color:white; 
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* 定义单个table的属性 */
.pat-list-table {
    margin-top: 10px;
    height: 280px;

}

.pat-list-table-heading {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pat-list-table-heading > span:first-child {
    font-size: 20px;
    width: 60px;
}

.pat-item-active {
    background:	#1E90FF;
}
.add-pat-btn {
    width: 80px;
    align-self: center;
    margin-left: 40%;
}

