.flex-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  header,
  footer {
   
    background-color: lightblue;
  }
  
  .flex-body {
    display: flex;
    flex: 1;
  }
  
  .flex-center {
    flex: 0 0;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
  }
  
  .flex-right {
    /* 两个边栏的宽度设为12em */
    flex: 0 0 ;
    flex-basis: 20%;
    background-color: bisque;
  }
  
  .flex-left {
    /* 导航放到最左边 */
    order: -1;
    flex: 0 0 ;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    
  }
  .detail-content{
      display: flex;
      flex-direction: column;
      margin: 10px;
  }
  .detail-header{
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
  }
.detail-text{
    align-self: center;
}
  @media (max-width: 768px) {
    .flex-body {
      flex-direction: column;
      flex: 1;
    }
    .flex-center,
    .flex-left,
    .flex-right {
      flex: auto;
    }
  }